body{
  font-family: Source Sans Pro,Sintony,Helvetica,Serif;
  margin: 0;
  background-color: #fff;
  font-size: 14px;
}
ul{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #5CB85C;
}
:global(.container) {
  margin:auto;
  padding: 0 25px;
  width: 85%;

}